<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type"/>
    <title>Accueil</title>
</head>
<body>
<img th:src="@{/download.jpg}"
     alt="Université de Rouen Normandie" width="400" height="150"/>
<div>

    <h1>ACCUEIL</h1>

    <div>
        <h2>Collaborateurs : </h2>
        <ul>
            <li><h3>LAADIDAOUI Omar</h3></li>
            <li><h3>ZAHIR Reda</h3></li>
        </ul>
    </div>
    <div>
        <h2><a href="http://localhost:8080/documentation">DOCUMENTATION</a></h2>
    </div>
    <div>
        <h3><a href="http://localhost:8080/items">Liste des Articles</a></h3>
    </div>
    <h4>Version : 1.5</h4>
</div>
</body>
</html>