<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type"/>
    <title>Documentation</title>
</head>
<body>
<h1>DOCUMENTATION</h1>
<img th:src="@{/download.jpg}"
     alt="Université de Rouen Normandie" width="300" height="100"/>
<div>
    <p>
        Ubuntu est un système d’exploitation GNU/Linux fondé sur Debian.
        Il est développé, commercialisé et maintenu pour les ordinateurs individuels (desktop),
        les serveurs (Server) et les objets connectés (Core) par la société Canonical.

        Ubuntu est disponible en deux versions, une qui évolue tous les six mois,
        et une version LTS, pour Long Term Support (« Support long terme ») qui évolue tous les deux ans.
        Ubuntu se définit comme « un système d'exploitation utilisé par des millions de PC à travers le monde » et avec une interface « simple, intuitive, et sécurisée ».
        Elle est la distribution la plus utilisée pour accéder aux sites web d'après le site Alexa, et le système d'exploitation le plus utilisé pour les serveurs informatiques.
    </p>
</div>
<img th:src="@{/dow.jpg}"
     alt="Ubuntu" width="300" height="100"/>
<div>
    Le système d’exploitation fait figure de référence parmi les distributions GNU/Linux aussi bien chez les particuliers que dans des environnements professionnels de type serveur.
    Il dispose de nombreux atouts, en particulier sa gratuité, sa simplicité d’installation et d’utilisation, ainsi qu’une vaste logithèque.
    La plus grande partie d’entre eux peuvent être installés et mis à jour à partir d’un gestionnaire d’application intégré au système d’exploitation.
    Par défaut, Ubuntu embarque la suite bureautique LibreOffice, le navigateur web Firefox ainsi que toutes les applications nécessaires pour communiquer, lire de la musique ou regarder une vidéo.
</div>
<img th:src="@{/ubuntu.jpg}"
     alt="Ubun" width="300" height="100"/>
<div>
    <h3><a href="https://www.ubuntu-fr.org/">Pour plus d'infos</a></h3>
</div>
<div>
    <h3><a href="http://localhost:8080/accueil">RETOUR à L'ACCUEIL</a></h3>
</div>
</body>